{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
  <center>
	<p>Published on {{ post.publish }} by {{ post.author }}</p><br>
	<img src="{{ post.title_image.url }}" alt="{{ post.title }}" style='width:500px;height:400px;'>
    <h2>{{ post.title }}</h2>
  </center><br>
  <p>{{ post.body }}</p><br>
</div>

<p><a href="{% url 'post_edit' post.pk %}">+ Edit Post</a></p>
<p><a href="{% url 'post_delete' post.pk %}">+ Delete Post</a></p><br>

<hr>

<h4>Add a comment</h4>
<form action="" method='POST'>{% csrf_token %}
  {{ form }}
  <button type='submit'>Save</button>
</form><br>

<h4>Comments</h4>
{% for comment in post.comment_set.all %}
<p>{{ comment.author }}</p>
<p>{{ comment }}</p><br>

{% endfor %} 
{% endblock content %} 
